# IDE
**/.vs
**/.vscode

# xmake
.xmake/

# Build output
/build/

# Protobuf generated
/proto_gen/

# Third-party dependencies (submodules)
/third-party/

# Python virtual environments
**/.venv/
**/__pycache__/
**/.py*/
**/.env*/

# xmake package build output
**/build_*/

# testing *.log files
*.log
